body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
}
.custom-navbar-color {
    background-color: #a8bff1 !important; /* Deep blue color */
}

#timer {
    color: red; /* Change color */
    font-family: Arial, sans-serif; /* Change font */
    font-size: 50px;
}
#studySessionCounter, #cycleCounter {
    color: green; /* Change color */
    font-family: 'Times New Roman', serif; /* Change font */
    font-size: 25px; /* Change font size */
}

#startStudy {
    background-color: #4CAF50; /* Green */
    color: white !important;
}

#startShortBreak {
    background-color: #4CAF50; /* Blue */
    color: white !important;
}

#startLongBreak {
    background-color: #4CAF50; /* Amber */
    color: white !important;
}

#stopTimer {
    background-color: #4CAF50; /* Red */
    color: white !important;
}

#stopAlarm {
    background-color: #4CAF50; /* Grey */
    color: white !important;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills h2 {
    text-align: center;
}